extends layout

block styles
  style(type='text/css', media='screen, projection')
    #loginForm
    {
      width:580px;
    }
    #loginForm .form-row
    {
      margin-bottom: 5px;
    }
    #loginForm input[type=text], #loginForm textarea, #loginForm label
    {
      margin: 0;
    }
    #loginForm label
    {
      font-weight: bold;
      display: inline-block;
      margin-right: 0.8em;
    }
    #loginForm textarea
    {
      width: 360px;
    }
    #txt-nickname
    {
    }
    #errNoNickname
    {
      margin-left: 1em;
      color: red;
    }
    span.ipt-err
    {
      color: red;
      padding: 0 0.5em;
    }

block content
  #loginForm.modal.hide.fade
    .modal-header
      h3 Team Poker - Creat game room!
    .modal-body
      form#f.form-horizontal(action='/', method='post')
        #ph-room-name.control-group
          label.control-label(for='txt-room-name') Room Name
          .controls
            input#txt-room-name.span2(name='txt-room-name', type='text', placeholder='Input room name here', autofocus='autofocus')
            span#errNoRoomName.hide.ipt-err Room name is required!
        #ph-stories.control-group
          label.control-label(for='txt-stories') Stories
          .controls
            textarea#txt-stories.input-xlarge(name='txt-stories', rows='6')
              | User is able to click the "Login" button and navigate to Login page.
              | User is able to log into system after correctly entering name/password.
              | User is able to post.
        .control-group
          label.control-label(for='txt-nickname') Your Nick Name
          .controls
            input#txt-nickname.span2(name='txt-nickname', type='text', placeholder='Input your name here', autofocus='autofocus')
            span#errNoNickname.hide.ipt-err Nick name is required!
    .modal-footer
      a#btnLogin.btn.btn-primary(href='#') Join

block scripts
  - if(env === 'development')
    script(src='javascripts/vendor/jquery-1.8.0.min.js')
    script(src='javascripts/vendor/underscore-min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js')
    script(src='javascripts/vendor/jquery.cookie.js')
    script(src='javascripts/index.js')
  - else if(env === 'production')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script(src='javascripts/vendor/jquery.cookie.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js')
    script(src='javascripts/index.js')
